@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Teko", sans-serif;

    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #aeaebc;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff90;
}

.header {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 100%;
    height: auto;
    transition: transform 0.1s;
}

.logo:hover {
    transform: scale(1.05);
}


.list {
    font-weight: 500;
    display: flex;
    gap: 50px;
}

.header a nav {
    opacity: 0.9;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 300px;
    height: auto;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Teko", sans-serif;
    font-weight: 500;
    margin: 0;
}

h3 {
    color: rgb(185, 217, 235);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 600;
}

h4 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

p {
    font-size: 20px;
    margin: 0;
}

.welcome {
    box-sizing: border-box;
    margin-top: -10%;
    max-height: 100%;
    padding: 5% 0;
    background-image: url("image/mitski_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin-top: 45%;
    padding: 8%;
}

.welcome .container {
    width: auto;
}

.subtitule_main {
    color: rgb(255 110 0);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.titule_main {
    color: rgb(185, 217, 235);
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255 110 0);
    border-radius: 8px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 110 0);
}

.btn:hover {
    background: rgb(255 110 0);
    color: rgb(0, 0, 0);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255 110 0);
    border-radius: 8px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 110 0);
}

button:hover {
    background: rgb(255 110 0);
    color: rgb(0, 0, 0);
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    background-image: url("https://github.com/Lesyaaaaaa/lesya.github.io/blob/68c0eed262622cfff87fc31a2ef19213b201b276/image/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.footer-item {
    flex: 2 2 300px;
    margin: 10px;
    padding: 5%;
}

.line {
    border-top: 2px solid rgb(0, 0, 0);
    margin-top: 8%;
    padding: 2%;
    width: 60%;
}

.icon {
    width: 70px;
    height: auto;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 0.1%;
}

.links {
    display: flex;
    gap: 4%;
    margin-bottom: -6%;
}

.string {
    margin: 5px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.contact {
    text-align: center;
    padding: 18%;

}

.line_1 {
    border-bottom: 2px solid rgb(255 110 0);
    margin-top: -65%;
    padding: 24%;
    width: 98%;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;

}

.suggest {
    box-sizing: border-box;

}

.contain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin-top: 2%;
    width: 72%;
    background: transparent;
    border: none;
    text-align: center;
}

.data_block {
    font-family: "Teko", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
    margin-top: 55px;
}

input {
    background: transparent;
    height: 40px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    padding-left: 20px;
    font-size: 24px;
    color: #ffffff;
}

input::placeholder {
    font-size: 24px;
    color: gray;
}

input:focus::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

.name {
    width: 100%;
}

.email {
    width: 300px;
}

.phone {
    width: 350px;
}

.text_area {
    margin-top: 65px;
    border: 1px solid #ffffff;
    border-radius: 13px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;

}

.message {
    font-size: 24px;
    color: gray;
}

textarea {
    margin-top: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #ffffff;
}

textarea:focus::placeholder {
    color: #ffffff;
}

textarea:focus {
    outline: none;
}

.send {
    margin: 15px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.concert {
    text-align: center;
    box-sizing: border-box;
}

.map {
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: 3px solid grey;
    border-radius: 20px;
}

.alboms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

.button {
    padding: 10px 10px;
    cursor: pointer;
}

.titule {
    padding: 12%;
}

@media(min-width:2152px) {
    a {
        font-size: 36px;
    }

    .logo {
        width: 100px;
    }

    p {
        font-size: 32px;
    }

    .list {
        gap: 55px;
    }

    .welcome {
        margin-top: -8%;
        padding: 1% 0;
    }

    .titule_main {
        font-size: 100px;
    }

    .subtitule_main {
        font-size: 32px;
    }

    .btn {
        width: 300px;
        height: 120px;
        font-size: 38px;
    }

    button {
        width: 800px;
        height: 140px;
        font-size: 42px;
    }

    h3 {
        font-size: 82px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 72px;
    }

    .email {
        width: 700px;
    }

    .phone {
        width: 750px;
    }

    .icon {
        width: 100px;
    }

    input {
        height: 72px;
        font-size: 32px;
    }

    .gallery img {
        width: 600px;
    }

    .form {
        margin-top: 20%;
    }

    input::placeholder {
        font-size: 34px;
    }

    .form {
        margin-top: 20%;
    }

    .message {
        font-size: 34px;
    }

    textarea {
        font-size: 32px;
    }

    .concert {
        margin-top: 15%;
    }
}

@media(min-width:1200px) and (max-width:2151px) {
    a {
        font-size: 22px;
    }

    p {
        font-size: 22px;
    }

    .list {
        gap: 35px;
    }

    .welcome {
        margin-top: -8%;
        padding: 1% 0;
    }

    .titule_main {
        font-size: 52px;
    }

    .subtitule_main {
        font-size: 20px;
    }

    .btn {
        width: 180px;
        height: 70px;
        font-size: 22px;
    }

    button {
        width: 400px;
        height: 90px;
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 48px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 35px;
    }

    .gallery img {
        width: 300px;
    }

    .icon {
        width: 60px;
    }

    input {
        height: 64px;
        font-size: 38px;
    }

    .form {
        margin-top: 20%;
    }

    .concert {
        margin-top: 15%;
    }

}

@media(min-width:992px) and (max-width:1200px) {}

@media (min-width:768px) and (max-width:991px) {
    a {
        font-size: 18px;
    }

    .list {
        gap: 35px;
    }

    .welcome {
        margin-top: -8%;
        padding: 1% 0;
    }

    .titule_main {
        font-size: 38px;
    }

    .btn {
        width: 120px;
        height: 50px
    }

    p {
        font-size: 18px;
    }

    .icon {
        width: 50px;
    }

    input {
        height: 38px;
        font-size: 20px;
    }

    .form {
        margin-top: 20%;
    }

    .concert {
        margin-top: 15%;
    }

}

@media(min-width:480px) and (max-width:767px) {
    a {
        font-size: 16px;
    }

    .logo {
        width: 50px;
    }

    .list {
        gap: 35px;
    }

    .welcome {
        margin-top: -10%;
        padding: 1% 0 1% 1%;
    }

    .titule_main {
        font-size: 32px;
    }

    .btn {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 25px;
    }

    .gallery img {
        width: 200px;
    }

    .map {
        padding-bottom: 30%;

    }

    .icon {
        width: 32px;
    }

    input {
        height: 38px;
        font-size: 20px;
    }

    input::placeholder {
        font-size: 22px;
    }

    .form {
        margin-top: 20%;
    }

    .concert {
        margin-top: 15%;
    }
}

@media(min-width:320px) and (max-width:479px) {
    a {
        font-size: 12px;
    }

    .logo {
        width: 40px;
    }

    .list {
        margin-top: 20px;
        flex-direction: column;
        gap: 5px;
    }

    .welcome {
        margin-top: -25%;
        padding: 1% 0 1% 1%;
    }

    .titule_main {
        font-size: 25px;
    }

    .subtitule_main {
        font-size: 12px;
    }

    .btn {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 20px;
    }

    .gallery img {
        width: 150px;
    }

    .map {
        padding-bottom: 30%;

    }

    .icon {
        width: 24px;
    }

    input {
        height: 32px;
        font-size: 14px;
    }

    input::placeholder {
        font-size: 16px;
    }

    .form {
        margin-top: 20%;
    }

    .message {
        font-size: 20px;
    }

    textarea {
        font-size: 14px;
    }

    .concert {
        margin-top: 15%;
    }

}

@media(min-width:180px) and (max-width:319px) {
    a {
        font-size: 10px;
    }

    .logo {
        width: 35px;
    }

    .list {
        margin-top: 20px;
        flex-direction: column;
        gap: 5px;
    }


    .welcome {
        margin-top: -15%;
        padding: 1% 0 1% 1%;
    }

    .titule_main {
        font-size: 22px;
    }

    .subtitule_main {
        font-size: 10px;
    }

    .btn {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    h4 {
        font-size: 14px;
    }

    .gallery img {
        width: 150px;
    }

    .map {
        padding-bottom: 40%;

    }

    .icon {
        width: 16px;
    }

    input {
        height: 32px;
        font-size: 14px;
    }

    input::placeholder {
        font-size: 16px;
    }

    .form {
        margin-top: 20%;
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

    .message {
        font-size: 20px;
    }

    textarea {
        font-size: 14px;
    }

    .concert {
        margin-top: 15%;
    }

}
